* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* padrão é center-box: que faz com que o width seja calculado por dentro da caixa, ou seja desconsidera o padding
    border-box: faz com que o width seja contado como de bordar a borda 
    verificar o page-orphanages.css*/
}

:root {
    font-size: 62.5%;
    /* por padrão o navegador colocar o font-size do elemento root como 16 pixels, ao colocar ele valendo 62.5% faz ele valer 10 pixels para fins de utilizar o rem nos tamanhos da fontes do resto do documento*/
}

body {
    height: 100vh;
    /* pega 100% do Viewport height (viewport esta no arquivo html <meta name="viewport" content="width=device-width, initial-scale=1.0" />*/
    color: white;
    background-color: #ebf2f5;
}

body, input, button, textarea {
    /*font-weight: 400;
    font-size: 18px;
    line-height: 1;
    font-family: 'Nunito', sans-serif;*/
    font: 400 1.8rem/1 'Nunito', sans-serif;
    /* rem significa  unidade de medida do Root Element por padrão 16px, mas setada por nós, no segmento :root como 10 px, fazendo 1.8 rem valer 18px */
}
